<div
  class="flex bg-[var(--color-surface-tonal-a10)] p-2 items-center rounded-lg"
>
  <div class="flex gap-3 items-center justify-between w-full">
    <div class="flex gap-3 items-center ">
      <img
        [src]="court.img1"
        alt=""
        class="w-40 h-30 rounded-md"
      />
      <div class="flex flex-col gap-1">
        <p class="font-semibold text-lg">{{court.name}}</p>
        <p>{{court.description}}</p>
        <p>Dirección: {{court.address}}</p>
        <p class="text-sm">{{court.price}}</p>
        @if (court.time_end) {
          <p class="text-sm italic">Hasta las {{court.time_end}}</p>
        }
      </div>
    </div>
    
    @if(court.time_end) {
      <button (click)="reservation()" class=" bg-[var(--color-primary-a20)]  rounded-full p-3 px-12 mr-15 cursor-pointer">Reservar</button>
    }
  </div>
</div>
