<app-header />
<div class="flex justify-center items-center">
  <div class="w-full flex flex-col max-w-screen-xl">
    <div class="flex w-full justify-center items-center">
      <div class="fondo flex justify-center items-center p-5">
        <div
          class="flex flex-col items-center gap-2 justify-center p-5 bg-[rgba(93,90,101,0.75)] rounded-xl"
        >
          <p>Tu pagina de reserva</p>
          <h1 class="text-4xl font-[poppins] font-semibold">PádelHoy</h1>
          <p>
            PadelHoy es una plataforma web que te permite reservar canchas de
            pádel de manera rápida y sencilla, ¡para que juegues cuando quieras!
          </p>
          <a href="" class="bg-[var(--color-primary-a50)] px-5 py-2 rounded-sm">
            Canchas ya!</a
          >
        </div>
      </div>
    </div>
    <div>a</div>
  </div>
</div>
