<header
  class="flex bg-[var(--color-surface-tonal-a10)] w-full justify-center py-5 border-b-1 items-center border-[var(--color-surface-tonal-a30)]"
>
  <div class="flex w-full justify-between max-w-screen-xl">
    <div class="flex gap-4 justify-center items-center">
      <a
        RouterLink="/"
        href=""
        class="flex gap-1 font-semibold font-[poppins] text-xl justify-center items-center"
      >
        <span class="rotate-145"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-ball-tennis"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M6 5.3a9 9 0 0 1 0 13.4" />
            <path d="M18 5.3a9 9 0 0 0 0 13.4" /></svg
        ></span>
        PádelHoy</a
      >
      <a href="" routerLink="/canchas">Canchas</a>
    </div>
    <div class="flex gap-4 justify-center items-center">
      @if (userService.user) {
        <a href="" routerLink="/profile">Perfil</a>
        <button class="underline text-red-200 px-6 p-2 rounded cursor-pointer" (click)="quit()">Cerrar sesión</button>
      } @else {
        <a href="" routerLink="/login">Iniciar Sesión</a>
      }
      
      <a href="" class="bg-[var(--color-primary-a20)] p-2 px-6 rounded"
        >Contacto</a
      >
    </div>
  </div>
</header>
