<div
  class="flex bg-[var(--color-surface-tonal-a10)] p-2 items-center rounded-lg"
>
  <div class="flex gap-3 items-center justify-between w-full">
    <div class="flex gap-7 items-center ">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/8/89/Saguinus_oedipus_%28Linnaeus%2C_1758%29.jpg"
        alt=""
        class="w-40 h-30 rounded-md"
      />
      <div>
        <p>Nombre cancha: </p>
        <p>Fecha: </p>
        <p>Hora: </p>
        <p>Cliente: </p>
      </div>
    </div>
  </div>
</div>

