<section>
  <nav>
    <a
      routerLink="/profile"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      >Perfil</a
    >
    <a
      [routerLink]="
        usersService.user?.type === 'u' ? '/calendar' : '/tarjeta-owner'
      "
      routerLinkActive="active"
      >Reservas</a
    >
  </nav>

  <main class="p-4 flex flex-col gap-4 flex-1">
  @for (court of courts; track $index) {
    <div
    class="flex bg-[var(--color-surface-tonal-a10)] p-2 items-center rounded-lg w-full"
  >
    <div class="flex gap-3 items-center justify-between w-full">
      <div class="flex gap-7 items-center">
        <img
          [src]= "court.img1"
          alt=""
          class="w-40 h-30 rounded-md"
        />
        <div>
          <p>{{court.name}}</p>
          <p>{{court.reservation_datetime.split('T')[0]}}</p>
          <p>{{court.reservation_datetime.split('T')[1]}}</p>
          <p>{{court.uName + ' ' + court.last_name}}</p>
        </div>
      </div>
    </div>
  </div>
}
</main>
</section>
