<section>
  <nav>
    <a
      routerLink="/profile"
      routerLinkActive="active"
      >Perfil</a
    >
    <a
      routerLink="/calendar"
      routerLinkActive="active"
      >Reservas</a
    >

    @if(usersService.user?.type === 'a'){
      <a routerLink="/tarjeta-owner" routerLinkActive="active">Me reservaron</a>
    }
  </nav>

  <main class="p-4 flex flex-col gap-4 flex-1">

    <div class="flex gap-4 items-center">
      <a href="" routerLink="/" class="cursor-pointer transition-all hover:-translate-x-1.5">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
      </a>
  
      <h1 class="text-2xl font-[poppins] font-semibold">Tus reservas</h1>
    </div>


    @if(courts.length === 0){
      <h1>No has hecho reservas</h1>
    }

  @for (court of courts; track $index) {
    <div
    class="flex bg-[var(--color-surface-tonal-a10)] p-2 items-center rounded-lg w-full"
  >
    <div class="flex gap-3 items-center justify-between w-full">
      <div class="flex gap-7 items-center">
        <img
          [src]= "court.img1"
          alt=""
          class="w-40 h-30 rounded-md"
        />
        <div>
          <p class="font-semibold text-lg">{{court.name}}</p>
          <p>{{court.address}}</p>
          <p>{{court.reservation_datetime}}</p>
          <p>{{court.uName + ' ' + court.last_name}}</p>
        </div>
      </div>
    </div>
  </div>
}
</main>
</section>
