<section>
  <nav>
    <a routerLink="/profile" routerLinkActive="active">Perfil</a>
    <a routerLink="/calendar" routerLinkActive="active" >Reservas</a>
    @if(usersService.user?.type === 'a'){
      <a routerLink="/tarjeta-owner" routerLinkActive="active">Me reservaron</a>
    }
  </nav>

  <main>
    <div class="flex gap-4 items-center">
      <a href="" routerLink="/" class="cursor-pointer transition-all hover:-translate-x-1.5">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
      </a>
      <h1 class="text-2xl font-[poppins] font-semibold">Información de la cuenta</h1>
    </div>

    <form [formGroup]="form" (submit)="handleSubmit($event)">
      <div>
        <div class="col col-1"><p>Imagen de usuario</p></div>
        <div class="col col-2">
          <img
            src="/profile.jpg"
          />
        </div>
      </div>

      <div>
        <div class="col col-1"><p>Nombres</p></div>
        <div class="col col-2">
          <input type="text" formControlName="name" />
        </div>
      </div>

      <div>
        <div class="col col-1"><p>Apellidos</p></div>
        <div class="col col-2">
          <input type="text" formControlName="lastName" />
        </div>
      </div>

      <div>
        <div class="col col-1"><p>Correo de usuario</p></div>
        <div class="col col-2">
          <input type="text" formControlName="email" />
        </div>
      </div>

      <div class="flex gap-4">
        <button class="primary-button max-w-lg mx-auto" type="submit">Guardar cambios</button>
      </div>
    </form>
  </main>
</section>
