<app-header />
<div class=" max-w-screen-xl w-full mx-auto ">
    <div class=" p-5 flex flex-col items-center gap-3">
        <div class=" flex gap-4 justify-center p-4 rounded-sm max-w-3xl w-full">
            <div class="flex flex-col items-center gap-1">
                <p>Fecha y hora</p>
                <input (input)="getDatetime($event)" type="datetime-local" class="bg-[var(--color-surface-tonal-a30)] border-1 p-1 px-3 rounded-lg">
            </div>
        </div>
        <div class="flex flex-col gap-4 w-full max-w-3xl">
            @for (court of courts; track $index) {
                <app-tarjeta [court]="court" [datetime]="selectedDate"></app-tarjeta>
            }
        </div>
    </div>
</div>
