@import 'tailwindcss';
@import '@fontsource/quicksand/latin.css';
@import '@fontsource/poppins/latin.css';

:root {
  --color-dark-a0: #000000;
  --color-light-a0: #ffffff;

  /** Theme primary colors */
  --color-primary-a0: #232ade;
  --color-primary-a10: #5141e3;
  --color-primary-a20: #6f57e7;
  --color-primary-a30: #876eeb;
  --color-primary-a40: #9e85ef;
  --color-primary-a50: #b39df3;

  /** Theme tonal surface colors */
  --color-surface-tonal-a0: #191624;
  --color-surface-tonal-a10: #2e2b39;
  --color-surface-tonal-a20: #45424e;
  --color-surface-tonal-a30: rgb(93, 90, 101);
  --color-surface-tonal-a40: #76737d;
  --color-surface-tonal-a50: #8f8d96;
}

body {
  background: var(--color-surface-tonal-a0);
  color: var(--color-light-a0);
  font-family: 'quicksand', sans-serif;
}

.text-input,
.primary-button {
  background: var(--color-surface-tonal-a10);
  padding: 15px 30px;
  border-radius: 3px;
  outline: none;
}

.text-input::placeholder {
  color: var(--color-surface-tonal-a50);
}

.text-input:focus::placeholder {
  font-style: italic;
}

.primary-button {
  background: var(--color-primary-a20);
  cursor: pointer;
  transition: opacity 0.3s;
}

.primary-button:hover {
  opacity: 0.8;
}
