@import 'tailwindcss';
@import '@fontsource/quicksand/latin.css';
@import '@fontsource/poppins/latin.css';

:root {
  --color-dark-a0: #000000;
  --color-light-a0: #ffffff;

  /** Theme primary colors */
  --color-primary-a0: #232ade;
  --color-primary-a10: #303bfb;
  --color-primary-a20: #4f67ff;
  --color-primary-a30: #718fff;
  --color-primary-a40: #99b8ff;
  --color-primary-a50: #bfd4ff;

  /** Theme tonal surface colors */
  --color-surface-tonal-a0: #191624;
  --color-surface-tonal-a10: #2e2b39;
  --color-surface-tonal-a20: #45424e;
  --color-surface-tonal-a30: rgb(93, 90, 101);
  --color-surface-tonal-a40: #76737d;
  --color-surface-tonal-a50: #8f8d96;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-surface-tonal-a0);
  color: var(--color-light-a0);
  font-family: 'quicksand', sans-serif;
  scroll-behavior: smooth;
}

.text-input,
.primary-button {
  background: var(--color-surface-tonal-a10);
  padding: 15px 30px;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

.text-input::placeholder {
  color: var(--color-surface-tonal-a50);
}

.text-input:focus::placeholder {
  font-style: italic;
}

.primary-button {
  background: var(--color-primary-a20);
  cursor: pointer;
  transition: opacity 0.3s;
}

.primary-button:hover {
  opacity: 0.8;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input button {
  position: absolute;
  right: 0;
  margin-right: 12px;
  color: var(--color-surface-tonal-a50);
  cursor: pointer;
}

app-eye-visible {
  display: flex;
  align-items: center;
}
